body {
  /*font-family: "Cuprum", "Arial", sans-serif;*/
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

/*====================== Header ======================*/

header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  background-color: #f4f7f9;
}

header .top-panel {
  background-color: #293449;
}

nav {
  background-color: #32425c;
}

header a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

header ul {
  padding: 0;
  list-style: none;
}

.main-logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.search {
  background-color: #293449;
  border: none;
}

.search:hover,
.user-actions a:hover {
  background-color: #212a3a;
}

.search:focus {
  background-color: #ffffff;
  outline: none;
}

.search-text {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  font-family: inherit;
  color: #ffffff;
}

.user-actions a:active {
  /*opacity: 0.6;*/
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.not-empty {
  background-color: #ee3643;
}

.not-empty:hover {
  background-color: #ca2c37;
}

.not-empty:active {
  background-color: #ba2732;
}

.order {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

.site-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

header .address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

header .phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.account-area a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-option:hover,
.account-links a:hover {
  color: #ee3643;
}

.account-area a:active {
  color: rgba(0, 0, 0, 0.3);
}

.account-links a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
  background-color: transparent;
}

.account-links a:active {
  color: #000000;
  opacity: 0.3;
}

/*------------------ Навигация ------------------*/

nav a:hover {
  background-color: #293449;
}

nav a:active {
  opacity: 0.5;
}

/*=================== Основной контент ===================*/

.section-heading {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

/*================== index ==================*/

.btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.list-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

/*================= catalog =================*/

h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.breadcrumbs {
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs .home {
  display: block;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.catalog-section-heading {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort,
.filter-heading {
  background-color: #f7f3ec;
}

.sort ul {
  padding: 0;
  list-style: none;
}

.sort a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.sort-up,
.sort-down {
  display: block;
  width: 10px;
  height: 11px;
}

.sort-active {
  color: #ee3643;
}

/*----------------- filter -----------------*/

.filter {
  text-transform: uppercase;
}

fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filter label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.price-range {
  background-color: #f7f3ec;
}

.min-price,
.max-price {
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
  border: none;
}

.price-range-dash {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

button[type="submit"] {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

input[type="checkbox"]:disabled + .manufacturer {
  opacity: 0.4;
}

input[type="radio"]:disabled + .power {
  opacity: 0.4;
}

/*----------------- items -----------------*/

.items ul {
  padding: 0;
  list-style: none;
}

.item-card {
  font-weight: 700;
  /*text-align: center;*/
}

.item-options {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.item-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old-price {
  text-decoration: line-through;
}

.actual-price {
  display: block;
  padding: 10px 40px 16px 36px; 
  width: 65px;
  height: 12px;
  color: #ffffff;
  background-image: url(../img/item-button.svg);
  background-repeat: no-repeat;
}

.buy-btn {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.buy-btn:hover {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
}

.bookmark-btn {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.bookmark-btn:hover {
  border: 3px solid #32425c;
}

.bookmark-btn:active {
  opacity: 0.3;
}

/*======================== Footer ========================*/

footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer a {
  font-family: "Cuprum", "Arial", sans-serif;
}

.company-links a {
  color: #f1f5f7;
}

.offers-links a {
  color: #ffd180;
}

.links a:hover {
  text-decoration: underline;
}

.links a:active {
  opacity: 0.5;
}

footer .address,
footer .phone {
  color: #f3f7f9;
}

.bottom-panel {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
}

.copyright {
  color: #ffffff;
}

/*------------------ Соцсети ------------------*/

.social {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.social:hover,
.social:active {
  background-color: #ee3643;
}

.vk {
  background-image: url(../img/vk-icon.svg);
}

.fb {
  background-image: url(../img/fb-icon.svg);
}

.instagram {
  background-image: url(../img/insta-icon.svg);
}

/*--------------- Обратная связь ---------------*/

.feedback span {
  color: #ffffff;
}

.feedback a {
  color: #ffd180;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  text-decoration: none;
  color: #ee3643;
}

/*=================== Прячущие классы ===================*/

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}