body {
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

/*====================== Header ======================*/

header {
  background-color: #f4f7f9;
}

header .top-panel,
nav {
  background-color: #293449;
}

header a {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

nav ul,
.top-panel ul,
.account-area ul {
  padding: 0;
  list-style: none;
}

.main-logo {
  background-color: #ee3643;
}

.search {
  background-color: #293449;
  border: none;
}

.search-text {
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  font-family: inherit;
}

.full-cart {
  background-color: #ee3643;
}

.order {
  background-color: #63a63e;
}

.site-description {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

header .address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.phone-box {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
}

.account-area a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.account-links a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  background-color: transparent;
}

/*=================== Основной контент ===================*/

.section-heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.plain-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.btn {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.list-item {
  font-size: 18px;
  line-height: 20px;
}

/*======================== Footer ========================*/



/*=================== Прячущие классы ===================*/

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}