html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

/*====================== Header ======================*/

header {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

header .container {
  margin: auto;
  width: 940px;
}

header .top-panel {
  margin-bottom: 45px;
  background-color: #293449;
}

header .top-panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 940px;
}

nav {
  background-color: #32425c;
}

header a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-panel form {
  position: relative;
  flex-grow: 1;
}

.main-logo {
  flex-shrink: 0;
  padding: 12px 10px 7px;
  width: 220px;
  min-height: 42px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #B62430;
}

.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.search {
  padding-left: 49px;
  padding-right: 10px;
  min-width: 270px;
  width: 100%;
  height: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  background-color: #293449;
  border: none;
}

.search:hover,
.user-actions a:hover {
  background-color: #212a3a;
}

.search:focus {
  background-color: #ffffff;
  outline: none;
}

.search:focus + .search-text {
  color: transparent;
}

.top-panel-container svg {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search:hover + .search-text + svg,
.search:focus + .search-text + svg {
  opacity: 1;
}

.search:focus + .search-text + svg .search-icon {
  fill: #ee3643;
}

.search-text {
  position: absolute;
  top: 12px;
  left: 49px;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  font-family: inherit;
  color: #ffffff;
}

.user-actions a {
  display: block;
  position: relative;
  min-width: 150px;
  padding: 12px 10px 11.5px;
}

.user-actions a:not(.order) {
  padding-left: 44px;
}

.user-actions a:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.not-empty {
  background-color: #ee3643;
}

.not-empty:hover {
  background-color: #ca2c37;
}

.not-empty:active {
  background-color: #ba2732;
}

.user-actions .bookmarks::before,
.user-actions .cart::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.user-actions .bookmarks::before {
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;  
}

.user-actions .cart::before {
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.order {
  text-align: center;
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
}

/*------------------ Разное ------------------*/

.desc-contacts-account {
  margin-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-description {
  margin: 0;
  margin-right: 10px;
  padding-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

header .address {
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

header .phone {
  display: block;
  margin-bottom: 5px;
  padding: 9px;
  padding-left: 74px;
  min-width: 270px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 12px 10px;
  border: 3px solid #ffffff;
}

.account-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  height: auto;
  min-width: 300px;
}

.login-options {
  display: flex;
}

.login-options a {
  display: block;
  padding: 12px 25px 9px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-options a:not(:last-child):not(.username) {
  margin-right: 7px;
}

.account-area .username {
  position: relative;
  padding-left: 47px;
  padding-right: 20px;
  text-align: right;
}

.username::before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.login-option.log-out {
  position: relative;
  padding-left: 18px;
}

.log-out::after {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  right: 10px;
  width: 22px;
  height: 17px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.log-out:hover::after {
  opacity: 1;
}

.log-out:active::after {
  opacity: 0.3;
}

.login-option:hover,
.account-links a:hover {
  color: #ee3643;
}

.account-area .log-in {
  position: relative;
  padding-left: 48px;
}

.account-area .log-in::before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.account-area a:active {
  color: rgba(0, 0, 0, 0.3);
}

.account-area a:hover::before {
  opacity: 1;
}

.account-area a:active::before {
  opacity: 0.3;
}

.account-links {
  align-self: flex-start;
  padding-left: 5px;
}

.account-links a {
  display: block;
  position: relative;
  padding: 10px 17px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
  background-color: transparent;
}

.account-links a:active {
  color: #000000;
  opacity: 0.3;
}

.account-links .not-last::after {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: -2px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.account-links a:last-child::after {
  /*content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: -2px;
  width: 4px;
  height: 4px;
  background-color: red;
  border-radius: 50%;*/
}

/*------------------ Навигация ------------------*/

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 940px;
}

nav a {
  display: block;
  padding: 20px 30px;
  min-height: 60px;
  text-align: center;
}

nav a:hover {
  background-color: #293449;
}

nav a:active {
  opacity: 0.5;
}

/*=================== Основной контент ===================*/

.section-heading {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

/*==================== index ====================*/

.btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.list-item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.offers {
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
}

.offers a {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.offer-sm h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.offer-sm a {
  display: inline-block;
  padding: 10px;
  min-width: 115px;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
}

.offer-sm a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offer-sm a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
}

.instruments {
  background-color: #3bbce3;
}

.machinery {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.slider {
  background-color: #675B52;
}

.slider h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
}

.slider a {
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.slider a:hover {
  background-color: #ca2c37;
}

.slider a:active {
  background-color: #ba2732;
}

/*------------- Популярные -------------*/

.popular-goods .subsection-heading,
.popular-manufacturers .subsection-heading {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-goods ul,
.popular-manufacturers ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.all-btn {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

/*------------- Сервисы -------------*/

.services {
  background-color: #f4f7f9;
}

.tab {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  border: none;
}

.tab:not(.tab-active):hover {
  background-color: #293449;
}

.tab-active {
  color: #32425c;
  background-color: #ffffff;
}

.services .subsection-heading {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

/*=================== catalog ===================*/

h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.breadcrumbs {
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs .home {
  display: block;
  width: 14px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.catalog-section-heading {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort,
.filter-heading {
  background-color: #f7f3ec;
}

/*----------------- sort -----------------*/

.sort ul {
  padding: 0;
  list-style: none;
}

.sort a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort a:hover {
  color: #000000;
}

.sort a.sort-up:hover:not(.sort-arrow-active),
.sort a.sort-down:hover:not(.sort-arrow-active) {
  border-bottom-color: #1E191A;
}

.sort .sort-up,
.sort .sort-down {
  display: block;
  width: 0px;
  height: 0px;
  border: 11px solid #c5c5c5;
  border-top: none;
  border-right-width: 5px;
  border-right-color: transparent;
  border-left-width: 5px;
  border-left-color: transparent;
}

.sort-down {
  transform: rotate(180deg);
}

.sort .sort-arrow-active,
.sort .sort-up:active,
.sort .sort-down:active {
  border-bottom-color: #ee3643;
}

.sort .sort-active,
.sort a:active {
  color: #ee3643;
  border-bottom: none;
}

/*----------------- filter -----------------*/

.filter {
  text-transform: uppercase;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filter label {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.price-range {
  position: relative;
  padding: 39px 20px;
  background-color: #f7f3ec;
}

.range-line {
  display: block;
  height: 2px;
  background-color: #d7dcde;
  cursor: pointer;
}

.min-range-control,
.max-range-control {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 22px;
  background: url(../img/filter-button.svg) 50% 50% no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.max-range-control {
  right: 20px;
}

.min-price,
.max-price {
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.price-range-dash {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

button[type="submit"] {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

input[type="checkbox"]:disabled + .manufacturer {
  opacity: 0.4;
}

input[type="radio"]:disabled + .power {
  opacity: 0.4;
}

/*----------------- items -----------------*/

.items ul {
  padding: 0;
  list-style: none;
}

.item-card {
  font-weight: 700;
  /*text-align: center;*/
}

.item-options {
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.item-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.price {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old-price {
  text-decoration: line-through;
}

.actual-price {
  display: block;
  padding: 10px 40px 16px 36px; 
  width: 65px;
  height: 12px;
  color: #ffffff;
  background: url(../img/item-button.svg) no-repeat,
              linear-gradient(to right, #EF3341 85%, transparent 85%);
}

.buy-btn {
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.buy-btn:hover {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
}

.bookmark-btn {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.bookmark-btn:hover {
  border: 3px solid #32425c;
}

.bookmark-btn:active {
  opacity: 0.3;
}

/*----------------- pages -----------------*/

ol.pages {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages a {
  display: inline-block;
  padding: 10px;
  min-width: 38px;
  width: auto;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.pages a:hover {
  border: 1px solid #bdc6ca;
}

.pages a:active {
  color: #000000;
  border: 1px solid #ee3643;
}

.pages .next-page {
  padding-left: 30px;
  padding-right: 30px;
  min-width: 140px;
}

.pages .page-active {
  color: #ffffff;
  background-color: #ee3643;
}

/*======================== Footer ========================*/

footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  font-family: "Cuprum", "Arial", sans-serif;
}

/*------------------ top panel ------------------*/

footer .footer-top {
  margin: 0 auto;
  max-width: 940px;
}

.footer-main-logo {
  padding: 20px 41px 12px;
}

.footer-main-logo img {
  margin: auto;
  width: 138px;
  height: 23px;
}

footer .company {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.company-links a,
.offers-links a {
  margin-left: 40px;
  padding: 10px;
}

.company-links a {
  color: #f1f5f7;
}

.contacts-and-offers {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.offers-links a {
  color: #ffd180;
}

.links a:hover {
  text-decoration: underline;
}

.links a:active {
  opacity: 0.5;
}

footer .address,
footer .phone {
  display: block;
  color: #f3f7f9;
}

/*------------------ bottom panel ------------------*/

.bottom-bg-wrapper {
  background-color: #293449;
}

.bottom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 17px 0 16px;
  max-width: 940px;
  font-size: 16px;
  line-height: 18px;
}

.copyright {
  color: #ffffff;
}

.socials {
  display: flex;
}

.social {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

li:not(:last-child) .social {
  margin-right: 3px;
}

.social:hover,
.social:active {
  background-color: #ee3643;
}

.vk {
  background-image: url(../img/vk-icon.svg);
}

.fb {
  background-image: url(../img/fb-icon.svg);
}

.instagram {
  background-image: url(../img/insta-icon.svg);
}

/*--------------- Обратная связь ---------------*/

.feedback {
  display: flex;
}

.feedback p:not(:last-child) {
  margin-right: 50px;
}

.feedback span {
  color: #ffffff;
}

.feedback a {
  color: #ffd180;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  text-decoration: none;
  color: #ee3643;
}

/*=================== Прячущие классы ===================*/

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}